@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
*{
    padding: 0;
    margin: 0;
	color: black;
}
/*	start gymapp	*/
.container{
    display: flex;
    gap: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 0;
}
.container-menu{
	visibility: hidden;
	z-index: 1;
	position: absolute;
	width: 510px;
}
.container-new{
	visibility: hidden;
	z-index: 2;
}

.profilo{
    text-align: center;
}
.profilo h1{
    font-size: 60px;
}

.pos-logo{
	background: white;
}
.logo-l{
    height: 300px;
    width: 300px;
	background: black;
	border-radius: 50%;
}
.int-logo-l{
	height: 250px;
	width: 250px;
	background: white;
	border-radius: 50%;
}

.logo-d{
    height: 300px;
    width: 300px;
	background: rgb(218, 58, 0);
	border-radius: 50%;
	animation: mymove 5s infinite;
	opacity: 80%;
}

@keyframes mymove {
	50% {background-color: rgb(158, 42, 0);}
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.nav .bi{
    height:80px;
    width: 80px;
    border: 2px solid black;
    border-radius: 50%;
}

a:link{
    text-decoration: none;
}
/*	and gyapp	*/

/*menu*/


/*end menu*/
/*	start new
	inzio timer	*/
*,:after,:before{box-sizing:border-box}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.clock:before,
.count:after{
	content:'';
	position:absolute;
}
.clock-wrap{
	margin:auto;
	width:240px;
	height:240px;
	margin-top:20px;
	position:relative;
	border-radius:50px;
	background-color:#fff;
	box-shadow:0 0 15px rgba(0,0,0,.15);
}
.clock{
	top:50%;
	left:50%;
	width:180px;
	height:180px;
	border-radius:50%;
	position:absolute;
	margin-top:-90px;
	margin-left:-90px;
	background-color:#feeff4;
}
.clock:before{
	top:50%;
	left:50%;
	width:120px;
	height:120px;
	margin-top:-60px;
	margin-left:-60px;
	border-radius:inherit;
	background-color:#ec366b;
	box-shadow:0 0 15px rgba(0,0,0,.15), 0 0 3px rgba(255,255,255,.75) inset;
	/*border:1px solid rgba(255,255,255,.1);*/
}
.count{
	width:100%;
	color:#fff;
	height:100%;
	padding:50px;
	font-size:32px;
	font-weight:500;
	line-height:50px;
	position:absolute;
	text-align:center;
}
.count:after{
	width:100%;
	display:block;
	font-size:18px;
	font-weight:300;
	line-height:18px;
	text-align:center;
	position:relative;
}
.count.sec:after{content:'sec'}
.count.min:after{content:'min'}
.action{
	margin:auto;
	max-width:200px;
}
.action .input{
	margin-top:30px;
	position:relative;
}
.action .input-num{
	width:100%;
	border:none;
	padding:12px;
	border-radius:60px;
}
.action .input-btn{
	top:0;
	right:0;
	color:#fff;
	border:none;
	border:none;
	padding:12px;
	position:absolute;
	border-radius:60px;
	background-color:#ec366b;
	text-transform:uppercase;
}
.tbl{display:table;width:100%}
.tbl .col{display:table-cell}
/*fine timer*/

.header-new,.header-menu input{
	outline: none;
}
.scheda-esercizi input{
	outline: none;
}
.invio,.salva,.invii{
	background-color: red;
	border: 1px transparent none;
	border-radius: 50px;
	padding: 5px 10px;
}
.invio:hover,.salva:hover,.invii:hover{
	background-color: rgb(207, 0, 0);
}
.header-new,.header-menu{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 10px;
}
.nome-modulo,.aggiungi{
	padding: 0 10px;	
	border: 1px solid black;
	border-radius: 50px;	
}

.bi-chevron-left{
    height:40px;
    width: 40px;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
}

.scheda-esercizi{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
}
.scheda-esercizi input{
	width: 100px;
}

.tabella,.tabella-menu{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;	
}
.tab-serie,.tab-ripetizioni,.tab-nome-esercizio {
	border: 1px solid black;
	padding: 5px 10px;
}
/*	and new	*/
.bi-x{
	height: 40px;
	width: 40px;
	border: 1px solid black;
	border-radius: 50%;
	margin-left: 2px;
	cursor: pointer;
}

footer{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%,0);
}